<h1>Hello <%= current_user.username.capitalize %>!</h1>
<h2>Users/show</h2>

  <a href="/users/profile">Link to your Profile Page</a>
  <form action="/sessions" method="POST">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Logout">
  </form>
